/*
   _ __ ___ (_)_ __ (_)_ __    _   _(_)
  | '_ ` _ \| | '_ \| | '_ \  | | | | |
  | | | | | | | | | | | | | | | |_| | |
  |_| |_| |_|_|_| |_|_|_| |_|  \__,_|_|
  
  © Minin Productions 2018
*/

body {
	background: #111;
	color: #ddd;
}

.m-nav {
	background: #444;
}

.m-nav--menu {
	background: #444;
}

.m-nav--menu * {
	transition: background 0.3s;
}

.m-nav--menu *:hover {
	background: #222;
}

.m-section--shadow {
	background: #111;
}

.m-btn {
	background: #111;
	color: #ddd;
}

.m-btn:focus {
	background: #333
}