/*
   _ __ ___ (_)_ __ (_)_ __    _   _(_)
  | '_ ` _ \| | '_ \| | '_ \  | | | | |
  | | | | | | | | | | | | | | | |_| | |
  |_| |_| |_|_|_| |_|_|_| |_|  \__,_|_|
  
  © Minin Productions 2018
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.m-btn {
	border-radius: 0.25em;
	background: white;
	color: black;
	padding: 0.5em;
	border: none;
}

.m-btn:focus {
	outline: 0;
}