/*
   _ __ ___ (_)_ __ (_)_ __    _   _(_)
  | '_ ` _ \| | '_ \| | '_ \  | | | | |
  | | | | | | | | | | | | | | | |_| | |
  |_| |_| |_|_|_| |_|_|_| |_|  \__,_|_|
  
  © Minin Productions 2018
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.m-btn {
	border-radius: 3px;
	padding: 0.75em 1em;
	border: none;
	overflow: hidden;
	position: relative;
}

.m-btn:focus {
	outline: 0;
}

.m-btn .ripple {
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}