/*
   _ __ ___ (_)_ __ (_)_ __    _   _(_)
  | '_ ` _ \| | '_ \| | '_ \  | | | | |
  | | | | | | | | | | | | | | | |_| | |
  |_| |_| |_|_|_| |_|_|_| |_|  \__,_|_|
  
  © Minin Productions 2018
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.m-nav {
	width: 100%;
	box-shadow: 0 0 0.7em black;
	display: flex;
}

.m-nav--fixed {
	position: fixed;
	top: 0;
}

.m-nav--menu {
	margin: 0;
	padding: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
	box-shadow: 0 0 0.7em #000;
	transition: all 0.2s;
}

.m-nav--menu * {
	display: block;
	margin: 0;
	padding: 0.7em 1.2em;
	text-decoration: none;
	cursor: pointer;
}

.m-nav .m-nav--menu-button {
	flex: 1;

	display: flex;
	align-content: center;
}

.m--nav-menu-button {
	height: calc(100% - 2em);
	margin: auto 1em;
	cursor: pointer;
	border-radius: 50%;
	transition: background 0.2s;
}

.m--nav-menu-button:hover {
	background: rgba(255,255,255,0.5);
}

.m-nav .m-nav--data {
	flex: 3;

	display: flex;
	align-content: center;
	justify-content: flex-end;
}

.m-nav--data * {
	padding: 0;
	margin: 0;

	padding-right: 1.5em
}

.m-section:not(.m-section--header) {
	padding: 10%;
}

.m-section {
	width: 100%;
}

.m-section--header {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.m-section--shadow {
	box-shadow: 0 0 0.7em black;
}

.m-section--header .m-section--title {
	font-size: 300%;
	margin: 0 auto;
}

.m-section--header .m-section--sub {
	font-size: 150%;
	margin: 0 auto;
}

.m-card {
	border-radius: 3px;
	margin: 1em;
	min-width: 5em;
	max-width: 20em;
	min-height: 5em;
	max-height: 20em;
	display: block;
	box-shadow: 0 3px 0.7em black;
}

.m-card:not(.m-card--image) {
	padding: 1.5em;
}

.m-card.m-card--inline {
	display: inline-block;
}

.m-card--image *:not(img):not(.m-btn) {
	padding: 1.5em;
	padding-bottom: 0;
	margin: 0;
}

.m-card--image {
	padding-bottom: 1.5em;
}

.m-card--image .m-btn {
	margin: 1.5em;
	margin-bottom: 0;
}

.m-card--image img {
	border-radius: 3px 3px 0 0;
	width: 100%;
}

.m-btn {
	border-radius: 3px;
	padding: 0.75em 1em;
	border: none;
	display: inline-block;
	overflow: hidden;
	position: relative;
	transition: all 0.1s;
}

.m-btn:hover {
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
}

.m-btn:focus {
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
	outline: 0;
}

.m-btn .ripple {
	border-radius: 50%;
	background: rgba(235, 235, 235, 0.7);
	position: absolute;
	transform: scale(0);
	animation: ripple 0.3s;
}

@keyframes ripple { to { transform: scale(2.5); opacity: 0; } }

@media (orientation: landscape) and (max-height: 480px) {
	.m-nav {
		height: 3rem;
		min-height: 3rem;
		line-height: 3rem;
	}

	.m-section--header {
		height: calc(100vh - 3rem);
	}

	.m-nav--menu {
		padding-top: calc(3rem + 1em);
	}

	.m-nav--height {
		height: 3rem;
	}
}

@media (min-width: 480px) {
	.m-nav {
		height: 4rem;
		min-height: 4rem;
		line-height: 4rem;
	}

	.m-section--header {
		height: calc(100vh - 4rem);
	}

	.m-nav--menu {
		padding-top: calc(4rem + 1em);
	}

	.m-nav--height {
		height: 4rem;
	}

	.m-section * {
		margin: 0 auto;
	}
}